:root {
    --main-text: #000836;
    --pink: #F5326E;
    --theme-grey: #878AA0
  }

* {
    font-family: 'Lato', sans-serif;
    color: #000836;
}

body {
    background-image: url("https://raw.githubusercontent.com/jsamborski310/Holidaze/main/assets/images/abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Layout */

main {
    padding: 80px 0;
}
.custom-container {
    margin: 0 5%;
}

.custom-nav {
    padding-top: 20px;
    padding-bottom:20px;
    display:flex;
    justify-content: space-between;
    align-content: center;
    background-color:transparent;
    height:100px;
}
.nav-wrapper{
    flex:2;
}
.right {
    flex:2;
    text-align: right;
}


.row .col.s12 {
    margin-bottom: 50px;
}


/*Topbar*/

.custom-nav {
    background-color:transparent;
    box-shadow:none;
    height:100px;
}


/* Quote. Nav bar. Right Side. */

.quote {
    line-height:0;
    text-align:right;
}



/* Holiday List. Left Side. */

h2 {
    margin:0;
    font-weight: 700;
}
.holiday-info {
    border-radius: 15px;
    background-color: white; 
}
.holiday-type-federal {
    border-left:30px solid var(--pink);
}
.holiday-content {
    padding: 50px 40px;
}
.date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: var(--theme-grey);
}
.celebrated {
    font-weight:700;
}
.type-holiday {
    margin-top: -13px;
}
.celebrated-type {
    margin-top:30px;
}

/* Today in History Card. Right Side. */

h3 {
    font-size: 25px;
    font-weight:700;
}
h6 {
    font-weight: 700;
    font-size: 15px;
    line-height: 0;
    margin-top: 30px;
}

.today-in-history {
    background-color:white;
    box-shadow: 7px 7px 20px #00000031;
    padding: 40px 30px;
    border-radius: 15px;
}


/* Button */

.new-search-btn {
    background-color: var(--pink);
    padding: 15px 40px;
    line-height:0;
    border-radius: 8px;
    text-transform: capitalize;
}

/* Page Footer */

.page-footer {
    background-color: var(--pink);
}
.footer-copyright {
    background-color: var(--pink);
}

.footer-container {
    padding-top: 80px;
    padding-bottom: 40px;
}
.copyright-text {
    color: #ffffff;
}

/* Media Query */

@media only screen and (max-width: 992px) {

    nav .brand-logo {
        left: 22%;
    }
    .holiday-type-federal {
        border-top:30px solid var(--pink);
        border-left: none;
    }
}
