body {
    background-image: url("https://raw.githubusercontent.com/jsamborski310/Holidaze/main/assets/images/abstract-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
main {
    padding: 80px 0;
}
p {
    color:#000836;
}


.custom-container {
    margin: 0 5%;
}

/*Topbar*/
.custom-nav {
    background-color:transparent;
    box-shadow:none;
}


/* Quote. Nav bar. Right Side. */

.quote {
    line-height:0;
    text-align:right;
}



/* Holiday List. Left Side. */
.holiday-info {
    border-radius: 15px;
    background-color:rgb(240, 240, 240); 
}
.holiday-type-federal {
    border-left:100px solid black;
}
.holiday-content {
    padding: 50px 40px;
}
.date {
    font-size: 12px;
}

/* Today in History Card. Right Side. */

h3 {
    font-size: 25px;
    font-weight:700;
    color:#000836;
}
h6 {
    font-weight: 700;
    font-size: 15px;
    line-height: 0;
    margin-top: 30px;
    color:#000836;
}

.today-in-history {
    background-color:white;
    box-shadow: 7px 7px 20px #00000031;
    padding: 40px 30px;
    border-radius: 15px;
}
