
.custom-container {
    margin: 0 5%;
}

/* Quote. Nav bar. Right Side. */

.quote {
    line-height:0;
    text-align:right;
}

/* Search Card. Left Side. */
.search-card {
    background-color: rgb(190, 184, 184);
    padding: 50px;
    border-radius:15px;

}

.searchCard {
    padding: 1px;
    background-color:rgb(190, 184, 184);
    border-radius: 15px;
}

/* Holiday List. Right Side. */
.holiday-list-item {
    border-radius: 15px;
    background-color:rgb(190, 184, 184); 
}
.holiday-type-federal {
    border-left:100px solid black;
}


.page-footer {
    background-color: #F5326E;
}

